.home{
    display: flex;
    flex-direction: column;
    flex: 4;
}

.top-div{
    display: flex;
    flex-direction: column;
}

.bottom-div{
    display: flex;
    flex-direction: row;
    height: fit-content;
}