.main-div{
    display: flex;
    width: 100%;
    height: 4.2vw;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 20px;

}
.first-div{
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 7vw rgb(229, 228, 228);
    z-index: 999;
}
@media( max-width: 767px){
    .first-div{
        position: fixed;
        background-color: white;
        top: 0;
        width: 20vw;
        box-shadow: 0px 0px 7vw rgb(229, 228, 228);
        z-index: 999;
    }
}
.right-div{
    display: flex;
    margin-right: 2vw;
    align-items: center;
    gap: 10px;
}
.mohebbi{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(4, 4, 169);
    cursor: pointer;
    font-size: 2vw;
}
.img{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    cursor: pointer;
}
.icon{
    width: 1.7vw;
    height: 1.7vw;
    color: rgb(113, 113, 113);
    cursor: pointer;
}
.span{
    width: 1vw;
    height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -2.2vw;
    margin-left: 0.8vw;
    background-color: red;
    border-radius: 50%;
    font-size: 0.8vw;
    padding-top: 0.03vw;
    color: white;
}