* {
  margin: 0;
}

.div{
  width: 100%;
}

.div-app{
  display: flex;
  margin-top: 5vw;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media( max-width: 767px){
  .side{
    position: absolute;
    margin-left: -50vw;
    transition: all 0.3s ease;
  }
  .show{
    height: 100%;
    width: 60vw;
    position: fixed;
    margin-top: -1vw;
    margin-left: 0;
    z-index: 998;
    transition: all 0.3s ease;
  }

}